apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-a
  namespace: tenant-a
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp-a
  template:
    metadata:
      labels:
        app: webapp-a
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        volumeMounts:
        - name: config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: cache
          mountPath: /var/cache/nginx
        - name: run
          mountPath: /var/run
      volumes:
      - name: config
        configMap:
          name: nginx-config
      - name: cache
        emptyDir: {}
      - name: run
        emptyDir: {}